* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  border: 1px solid #ffa94d;
  border-radius: 10px;
  padding: 20px;
  background: #fdf9f5;
}

html {
  font-size: 60%;
  font-family: sans-serif;
}

body {
  height: 100vh;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  min-height: 40vh;
  display: grid;
  grid-template-columns: 20rem 20rem;
  column-gap: 4rem;
  align-items: start;
}

.button {
  background-color: #ffa94d;
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff922b;
}


label {
  display: inline-block;
  margin-right: 4px;
  font-size: 1.8rem;
}

input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid #ffe8cc;
  border-radius: 4px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border: 1px solid #ff922b;
}

h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
